{{ define "main" }}
<main>
<section class="container">
  <div class="text-center">
    <h1>{{ .Params.plasmais }}</h1>
    <img
      src="/images/plasma.svg"
      width="64"
      height="64"
      class="mt-3 mb-3"
      alt="{{ .Params.logoplasma }}"
    />
    <p class="ml-auto mr-auto">
      {{ .Content }}
    </p>
    <div class="d-flex flex-column flex-md-row justify-content-center">
      <a href="/distributions" class="button m-3">{{ .Params.get }}</a>
      <a href="/hardware" class="button m-3">{{ .Params.buy }}</a>
    </div>
  </div>
  <div class="laptop-with-overlay d-block my-3 mx-auto w-100" style="max-width: 1000px">
    <img class="laptop img-fluid mt-3" src="/content/plasma-desktop/laptop.png" alt="">
    <div class="laptop-overlay">
      <img class="img-fluid mt-3" src="/announcements/plasma-5.20/plasma.jpg" alt="{{ i18n "plasma" }} ">
    </div>
  </div>
</section>

<section id="plasma-last-release">
  <div class="breeze-window">
    <div class="kwin-shadow">
      <div class="headerbar">
        {{ .Params.plasma_release }}
        <img
          alt=""
          src="/content/plasma-desktop/window-minimize.svg"
          class="window-minimize"
        />
        <img
          alt=""
          src="/content/plasma-desktop/window-maximize.svg"
          class="window-maximize"
        />
        <img
          alt=""
          src="/content/plasma-desktop/window-close.svg"
          class="window-close"
        />
      </div>
      <div class="view">
        <h2>{{ .Params.plasma_release_title }}</h2>
        <p>{{ .Params.plasma_release_desc }}</p>
        <a href="/announcements/plasma-5.20.0" class="breeze-button">{{ .Params.see_announcements }}</a><br />
      </div>
    </div>
  </div>
</section>

{{ $index_part := 0 }}
{{ range .Params.parts }}
<section class="section-{{ .color }}">
  <div class="container">
    <div class="text-center mb-4 mx-auto" style="max-width: 800px">
      <h2>{{ .title }}</h2>
      {{ if gt (len .text) 100 }}
      <p class="h5">{{ .text }}</p>
      {{ else }}
      <p class="h4">{{ .text }}</p>
      {{ end }}
    </div>
    <ul class="nav justify-content-center nav-features" role="tablist">
      {{ $part_title := .title }}
      {{ $first := true }}
      {{ $index_slides := 0 }}
      {{ range .slides }}
        <li class="nav-item">
          <a
            class="nav-link {{ if $first }}{{ $first = false }}active{{ end }}"
            role="tab"
            href="#a{{ $index_part }}-{{ $index_slides }}"
            data-toggle="tab"
            aria-selected="true"
            aria-controls="a{{ $index_part }}-{{ $index_slides }}"
            id="a{{ $index_part }}-{{ $index_slides }}-control"
            >{{ .title }}</a
          >
        </li>
        {{ $index_slides = add $index_slides 1 }}
      {{ end }}
    </ul>
  </div>
  <div class="tab-content tab-content-feature pl-4 pr-4">
    {{ $first := true }} 
    {{ $index_slides = 0 }}
    {{ range .slides }}
    <div
      class="tab-pane {{ if and .mobile .mobile.video }}two-videos{{ end }}{{ if .video }} video {{ end }} {{ if $first }}{{ $first = false }}active {{ end }}"
      id="a{{ $index_part }}-{{ $index_slides }}"
      role="tabpanel"
      aria-labelledby="a{{ $index_part }}-{{ $index_slides }}-control"
    >
      {{ if .laptop }}
        <div class="laptop-with-overlay {{ with .class }}{{ . }}{{ end }}">
         <img
           class="laptop img-fluid mb-3"
           src="/content/plasma-desktop/laptop.png"
           alt="empty laptop with an overlay"
         />
         <div class="laptop-overlay">
           {{ if .video }}
             <video src="{{ .video }}" class="img-fluid">
           {{ else }}
             <img
               class="img-fluid mb-3"
               src="{{ .src }}"
               alt="{{ .alt }}"
               loading="lazy"
             />
           {{ end }}
         </div>
        </div>
      {{ else }}
        <div class="plasma-and-android row align-items-center">
          <div class="col-4 col-md-3">
            <div class="phone-with-overlay">
              <img
                class="phone img-fluid mb-3"
                src="/content/plasma-desktop/phone.png"
                alt=""
              />
              <div class="phone-overlay">
                {{ if .mobile.video }}
                  <video src="{{ .mobile.video }}" class="img-fluid">
                {{ else }}
                  <img
                    class="img-fluid mb-3"
                    src="{{ .mobile.src }}"
                    alt="{{ .mobile.alt }}"
                    loading="lazy"
                  />
                {{ end }}
              </div>
            </div>
          </div>
          <div class="col-8 col-md-9">
            <div class="laptop-with-overlay">
              <img
                class="laptop img-fluid mb-3"
                src="/content/plasma-desktop/laptop.png"
                alt=""
              />
              <div class="laptop-overlay">
                {{ if .desktop.video }}
                  <video src="{{ .desktop.video }}" class="img-fluid">
                {{ else }}
                  <img
                    class="img-fluid mb-3"
                    src="{{ .desktop.src }}"
                    alt="{{ .desktop.alt }}"
                    loading="lazy"
                  />
                {{ end }}
              </div>
            </div>
          </div>
        </div>
      {{ end }}
      <div class="container">
        {{ if or .video (and .mobile .mobile.video) }}
          <div class="text-center">
            <button class="button d-none">{{ i18n "replay" }}</button><br />
          </div>
        {{ end }}

        {{ .text | markdownify }}
      </div>
      {{ if .download  }}
        <h3>{{ .download }}</h3>
        <div>
          <a href="https://f-droid.org/en/packages/org.kde.kdeconnect_tp/"
            ><img
              src="/content/plasma-desktop/Get_it_on_F-Droid.svg"
              alt="{{ .fdroid }}"
              class="download-button-img"
          /></a>
          <a
            href="https://play.google.com/store/apps/details?id=org.kde.kdeconnect_tp"
            ><img
              alt="{{ .play }}"
              src="/content/plasma-desktop/get-it-from-google-play.png"
              class="download-button-img playstore"
          /></a>
        </div>
      {{ end }}
    </div>
    {{ $index_slides = add $index_slides 1 }}
    {{ end }}
  </div>
</section>
{{ $index_part = add $index_part 1 }}
{{ end }}

<section class="container">
  <small>{{ .Params.trademark }}</small>
</section>
</main>
<script>
  // add autoplay for tabs video
  document.querySelectorAll(".tab-pane.video").forEach(function (tab) {
    tab = tab.id;
    const nav = document.getElementById(`${tab}-control`);
    const video = document.querySelector(`#${tab} video`);
    const button = document.querySelector(`#${tab} button`);

    nav.addEventListener("click", function () {
      if (!button.classList.contains("d-none")) {
        button.classList.add("d-none");
      }
      video.currentTime = 0;
      video.play();
    });

    video.addEventListener("ended", function () {
      if (button.classList.contains("d-none")) {
        button.classList.remove("d-none");
      }
    });

    button.addEventListener("click", function () {
      button.classList.add("d-none");
      video.currentTime = 0;
      video.play();
    });
  });

  // add autoplay for tabs with two videos (laptop and mobile)
  document.querySelectorAll(".tab-pane.two-videos").forEach(function (tab) {
    tab = tab.id;
    const nav = document.getElementById(`${tab}-control`);
    const video_mobile = document.querySelector(`#${tab} .phone-overlay video`);
    const video_laptop = document.querySelector(
      `#${tab} .laptop-overlay video`
    );
    const button = document.querySelector(`#${tab} button`);

    nav.addEventListener("click", function () {
      if (!button.classList.contains("d-none")) {
        button.classList.add("d-none");
      }
      video_mobile.currentTime = 0;
      video_laptop.currentTime = 0;
      video_mobile.play();
      video_laptop.play();
    });

    video_mobile.addEventListener("ended", function () {
      if (button.classList.contains("d-none")) {
        button.classList.remove("d-none");
      }
    });

    button.addEventListener("click", function () {
      button.classList.add("d-none");
      video_mobile.currentTime = 0;
      video_laptop.currentTime = 0;
      video_mobile.play();
      video_laptop.play();
    });
  });

  // create config object: rootMargin and threshold
  // are two properties exposed by the interface
  const config = {
    rootMargin: "0px 0px 50px 0px",
    threshold: 0,
  };

  // register the config object with an instance
  // of intersectionObserver
  let observer = new IntersectionObserver(function (entries, self) {
    // iterate over each entry
    entries.forEach((entry) => {
      // process just the images that are intersecting.
      // isIntersecting is a property exposed by the interface
      if (entry.isIntersecting) {
        // custom function that copies the path to the img
        // from data-src to src
        entry.target.src = entry.target.dataset.src;
        // the image is now in place, stop watching
        self.unobserve(entry.target);
      }
    });
  }, config);

  const imgs = document.querySelectorAll("[data-src]");
  imgs.forEach((img) => {
    observer.observe(img);
  });

  document.querySelectorAll(".nav-features .nav-link").forEach((nav) => {
    nav.addEventListener("mouseover", function (event) {
      const tab_content = document.querySelector(
        `${event.target.getAttribute("href")} [data-src]`
      );
      if (tab_content) {
        tab_content.src = tab_content.dataset.src;
      }
    });
  });
</script>
{{end}}
