<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/amor-4.11.5.tar.xz">amor-4.11.5</a></td>
   <td align="right">171kB</td>
   <td><tt>92e5695231e2b829aaec1f607e2988155b48db06</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/analitza-4.11.5.tar.xz">analitza-4.11.5</a></td>
   <td align="right">176kB</td>
   <td><tt>03ca2ac0b41049a345162c5c6d7dcb7e7018162c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/ark-4.11.5.tar.xz">ark-4.11.5</a></td>
   <td align="right">225kB</td>
   <td><tt>2392d08c3a1d5d92cb1ec668e4e5013154fc0e14</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/audiocd-kio-4.11.5.tar.xz">audiocd-kio-4.11.5</a></td>
   <td align="right">50kB</td>
   <td><tt>553aa60a48e84d7ff97746d4b0aad3f075abeaad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/blinken-4.11.5.tar.xz">blinken-4.11.5</a></td>
   <td align="right">546kB</td>
   <td><tt>70f1120166431bb9450d6075e9a300b7689ec79e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/bomber-4.11.5.tar.xz">bomber-4.11.5</a></td>
   <td align="right">378kB</td>
   <td><tt>985fffd3c643cad3ebb785975a032b759c8c3853</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/bovo-4.11.5.tar.xz">bovo-4.11.5</a></td>
   <td align="right">99kB</td>
   <td><tt>1c2a6eb0c46b87662fbcd1984dab9fff1967bbc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/cantor-4.11.5.tar.xz">cantor-4.11.5</a></td>
   <td align="right">294kB</td>
   <td><tt>f6774e335cdf8257ce19ba2708d87cd83d95f768</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/cervisia-4.11.5.tar.xz">cervisia-4.11.5</a></td>
   <td align="right">361kB</td>
   <td><tt>ea9a3699b7f4282067dceedf38f593ac0c6898f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/dolphin-plugins-4.11.5.tar.xz">dolphin-plugins-4.11.5</a></td>
   <td align="right">55kB</td>
   <td><tt>34bec35c4b6f61e3a095cc1803ed757dd1d203c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/dragon-4.11.5.tar.xz">dragon-4.11.5</a></td>
   <td align="right">381kB</td>
   <td><tt>df57cd658630b2cab767f878c365228784ed4a84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/ffmpegthumbs-4.11.5.tar.xz">ffmpegthumbs-4.11.5</a></td>
   <td align="right">19kB</td>
   <td><tt>8637cb229a092ec1b106b5cc34e93108562f281e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/filelight-4.11.5.tar.xz">filelight-4.11.5</a></td>
   <td align="right">280kB</td>
   <td><tt>a49d150a728d9cbda8ae85143e297118591fe226</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/granatier-4.11.5.tar.xz">granatier-4.11.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f30a4855706314d903e3d0883604c495dfafba21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/gwenview-4.11.5.tar.xz">gwenview-4.11.5</a></td>
   <td align="right">2.7MB</td>
   <td><tt>3e2a4c29f107aab0894de690fb3d38c5a58e4d60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/jovie-4.11.5.tar.xz">jovie-4.11.5</a></td>
   <td align="right">369kB</td>
   <td><tt>7d6241779d71e3a3bada4d46bdf4fb9e219c76d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/juk-4.11.5.tar.xz">juk-4.11.5</a></td>
   <td align="right">419kB</td>
   <td><tt>7cfd609e3af028b0cb98dbf1accac0b24e73bf44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kaccessible-4.11.5.tar.xz">kaccessible-4.11.5</a></td>
   <td align="right">20kB</td>
   <td><tt>f6aa4459ac28aa493c0048b72c9f21dc40dcc12e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kactivities-4.11.5.tar.xz">kactivities-4.11.5</a></td>
   <td align="right">85kB</td>
   <td><tt>7d289e39d259ae53b70079d38f4eab430e3db514</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kajongg-4.11.5.tar.xz">kajongg-4.11.5</a></td>
   <td align="right">2.3MB</td>
   <td><tt>3879958f021c2d10efc70feebbc57d52c49cf7f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kalgebra-4.11.5.tar.xz">kalgebra-4.11.5</a></td>
   <td align="right">269kB</td>
   <td><tt>d854d34db3997c762db1f221cc5c9a120d105a67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kalzium-4.11.5.tar.xz">kalzium-4.11.5</a></td>
   <td align="right">3.7MB</td>
   <td><tt>6b0bef377390517c4d77d7701e32a2436102791a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kamera-4.11.5.tar.xz">kamera-4.11.5</a></td>
   <td align="right">34kB</td>
   <td><tt>8bf537251af37c6df235180882376eb0771e32e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kanagram-4.11.5.tar.xz">kanagram-4.11.5</a></td>
   <td align="right">1.0MB</td>
   <td><tt>aa00adfcd93fcc30a2a2495663eabe40665e4e51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kapman-4.11.5.tar.xz">kapman-4.11.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e92b16c5e021c1919b5426f547d13394ce80b342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kapptemplate-4.11.5.tar.xz">kapptemplate-4.11.5</a></td>
   <td align="right">682kB</td>
   <td><tt>0429420bf07eaa06159758bd479cd17fcfd66ad6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kate-4.11.5.tar.xz">kate-4.11.5</a></td>
   <td align="right">2.4MB</td>
   <td><tt>f08e71093eff1274760dee67844a40ab37e1279d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/katomic-4.11.5.tar.xz">katomic-4.11.5</a></td>
   <td align="right">642kB</td>
   <td><tt>21af6dd52c0bb6ef372f15e462ffe7c24c3939b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kblackbox-4.11.5.tar.xz">kblackbox-4.11.5</a></td>
   <td align="right">251kB</td>
   <td><tt>64de5bf4aa04480253080454af48fa8d7263af9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kblocks-4.11.5.tar.xz">kblocks-4.11.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b399aa7b77a322c326e196ed45fb4a3cd8770310</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kbounce-4.11.5.tar.xz">kbounce-4.11.5</a></td>
   <td align="right">1.5MB</td>
   <td><tt>912e6f23aef074846c66d98afe860fd82eb7f434</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kbreakout-4.11.5.tar.xz">kbreakout-4.11.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>0afe57b3c4a8234384d4d075edd0a628f9be041f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kbruch-4.11.5.tar.xz">kbruch-4.11.5</a></td>
   <td align="right">876kB</td>
   <td><tt>36e25d3c5ccaa6668a2e7bba2f35fc6d6f82acae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kcachegrind-4.11.5.tar.xz">kcachegrind-4.11.5</a></td>
   <td align="right">230kB</td>
   <td><tt>359afbd724c386faf7d708229e01806112525a8b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kcalc-4.11.5.tar.xz">kcalc-4.11.5</a></td>
   <td align="right">79kB</td>
   <td><tt>ca45141768e9101ad3659ff623fb1d2230d7a116</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kcharselect-4.11.5.tar.xz">kcharselect-4.11.5</a></td>
   <td align="right">82kB</td>
   <td><tt>e22cf8be6f34e177b39da5766f267d4c8e6f7d78</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kcolorchooser-4.11.5.tar.xz">kcolorchooser-4.11.5</a></td>
   <td align="right">4kB</td>
   <td><tt>c9e8b21806f0e6ba6dc875c1702272c34090b83e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kcron-4.11.5.tar.xz">kcron-4.11.5</a></td>
   <td align="right">170kB</td>
   <td><tt>1cb2698d4a1f9a92715a7e5dca0d41371fd9825a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdeartwork-4.11.5.tar.xz">kdeartwork-4.11.5</a></td>
   <td align="right">135MB</td>
   <td><tt>e0f7bb387f7ff2fd95d63d9a13dde1d1b5e382e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-baseapps-4.11.5.tar.xz">kde-baseapps-4.11.5</a></td>
   <td align="right">2.4MB</td>
   <td><tt>3271747be25f70dbed8ddc61ea3b803473b1e46e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-base-artwork-4.11.5.tar.xz">kde-base-artwork-4.11.5</a></td>
   <td align="right">7.0MB</td>
   <td><tt>fa3d9ee9062b82fe28272b2a9bd34f37962c0556</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-dev-scripts-4.11.5.tar.xz">kde-dev-scripts-4.11.5</a></td>
   <td align="right">250kB</td>
   <td><tt>c8b8a2c25c4eb15d4051c1759294d2d13817cd24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-dev-utils-4.11.5.tar.xz">kde-dev-utils-4.11.5</a></td>
   <td align="right">50kB</td>
   <td><tt>e7f1399253606cccffb4151a8323fdcd92ec4964</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdegraphics-mobipocket-4.11.5.tar.xz">kdegraphics-mobipocket-4.11.5</a></td>
   <td align="right">19kB</td>
   <td><tt>ae6cec3f4b50a6897ee199bce74cf4c5b53db37a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdegraphics-strigi-analyzer-4.11.5.tar.xz">kdegraphics-strigi-analyzer-4.11.5</a></td>
   <td align="right">39kB</td>
   <td><tt>9d2aaff64aee5647c94d47715bc54af6c6e1f139</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdegraphics-thumbnailers-4.11.5.tar.xz">kdegraphics-thumbnailers-4.11.5</a></td>
   <td align="right">40kB</td>
   <td><tt>bdec1e21fd165cd11cc3177bd0e50dd80271d88e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdelibs-4.11.5.tar.xz">kdelibs-4.11.5</a></td>
   <td align="right">11MB</td>
   <td><tt>b4926c62b590e48ac7547bead7e04ef4938d6981</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdenetwork-filesharing-4.11.5.tar.xz">kdenetwork-filesharing-4.11.5</a></td>
   <td align="right">26kB</td>
   <td><tt>d2cdc771eca33c64448cfb3c3eada51e99c06910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdenetwork-strigi-analyzers-4.11.5.tar.xz">kdenetwork-strigi-analyzers-4.11.5</a></td>
   <td align="right">14kB</td>
   <td><tt>05e0a24b3c0c8aed1083895462bdb22ac35bc22f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdepim-4.11.5.tar.xz">kdepim-4.11.5</a></td>
   <td align="right">12MB</td>
   <td><tt>75d101cbe05c5b15c6cc1fda9aec0a390ea0abbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdepimlibs-4.11.5.tar.xz">kdepimlibs-4.11.5</a></td>
   <td align="right">2.7MB</td>
   <td><tt>5a78dc61dac33a50f0817cf743ecb3b8f5f23591</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdepim-runtime-4.11.5.tar.xz">kdepim-runtime-4.11.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>deff6d4303ac7c901d825a7d15cba17fab58ca2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdeplasma-addons-4.11.5.tar.xz">kdeplasma-addons-4.11.5</a></td>
   <td align="right">1.6MB</td>
   <td><tt>6014a1a77921c69ec240d2dc7adcf2bf42f280b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-runtime-4.11.5.tar.xz">kde-runtime-4.11.5</a></td>
   <td align="right">7.5MB</td>
   <td><tt>14780f66fbb2a138cd928514992b6faa6d95c71a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdesdk-kioslaves-4.11.5.tar.xz">kdesdk-kioslaves-4.11.5</a></td>
   <td align="right">353kB</td>
   <td><tt>c90e604519edee695a6ec2d65364f5fe8fdbef7f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdesdk-strigi-analyzers-4.11.5.tar.xz">kdesdk-strigi-analyzers-4.11.5</a></td>
   <td align="right">17kB</td>
   <td><tt>d9242c1125c1bec34ef5976434ea04ff8f247f0a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdesdk-thumbnailers-4.11.5.tar.xz">kdesdk-thumbnailers-4.11.5</a></td>
   <td align="right">11kB</td>
   <td><tt>fa6c55653885e5134dd20d3c6bb2b993ac96d18c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-wallpapers-4.11.5.tar.xz">kde-wallpapers-4.11.5</a></td>
   <td align="right">86MB</td>
   <td><tt>84a89848a9140eea2fdefc1b38d21346a2273b98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdewebdev-4.11.5.tar.xz">kdewebdev-4.11.5</a></td>
   <td align="right">2.4MB</td>
   <td><tt>8a0f3850ad015e973d9cbbf3752e59e37ba2317b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-workspace-4.11.5.tar.xz">kde-workspace-4.11.5</a></td>
   <td align="right">13MB</td>
   <td><tt>4292288f7636a082f95072c4188015c041b424d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdf-4.11.5.tar.xz">kdf-4.11.5</a></td>
   <td align="right">145kB</td>
   <td><tt>f2f606dcd91f95e619cc6b932284640ff48fcc12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdiamond-4.11.5.tar.xz">kdiamond-4.11.5</a></td>
   <td align="right">3.9MB</td>
   <td><tt>a65f75b8a0d38c20336a12c6966d616d8e54355a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kdnssd-4.11.5.tar.xz">kdnssd-4.11.5</a></td>
   <td align="right">25kB</td>
   <td><tt>87063f0654229a3e5da522d740759df9dba58446</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kfloppy-4.11.5.tar.xz">kfloppy-4.11.5</a></td>
   <td align="right">52kB</td>
   <td><tt>38d97390decad7dfc45853969c3bb601c3dfe430</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kfourinline-4.11.5.tar.xz">kfourinline-4.11.5</a></td>
   <td align="right">276kB</td>
   <td><tt>ff6908e91eeebcf15855d76e105d1c16f08ee099</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kgamma-4.11.5.tar.xz">kgamma-4.11.5</a></td>
   <td align="right">22kB</td>
   <td><tt>7c5404eb22d59479055839176c6c3c3a109f0895</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kgeography-4.11.5.tar.xz">kgeography-4.11.5</a></td>
   <td align="right">6.4MB</td>
   <td><tt>59d24c200be19638ad38f3b4301484292c888ef1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kget-4.11.5.tar.xz">kget-4.11.5</a></td>
   <td align="right">1.0MB</td>
   <td><tt>eb8366edc0150aecc174ef09b1a284704c731481</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kgoldrunner-4.11.5.tar.xz">kgoldrunner-4.11.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>81e22605af8e6ea4209266fd55881402448ee267</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kgpg-4.11.5.tar.xz">kgpg-4.11.5</a></td>
   <td align="right">783kB</td>
   <td><tt>357977f4b2272069895aa15579c025de8ed455b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/khangman-4.11.5.tar.xz">khangman-4.11.5</a></td>
   <td align="right">3.7MB</td>
   <td><tt>343fa35bbc07b99f326dab6176ceb4bbeccd8639</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kig-4.11.5.tar.xz">kig-4.11.5</a></td>
   <td align="right">1.4MB</td>
   <td><tt>720238e25095b0b820622e8fdf953f30c23bb251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kigo-4.11.5.tar.xz">kigo-4.11.5</a></td>
   <td align="right">1.2MB</td>
   <td><tt>724fd2af434f715ff63c6dcde3e03e152432cc0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/killbots-4.11.5.tar.xz">killbots-4.11.5</a></td>
   <td align="right">939kB</td>
   <td><tt>14d82851335c93a69ed1b7429966ae0b3401b63f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kimono-4.11.5.tar.xz">kimono-4.11.5</a></td>
   <td align="right">915kB</td>
   <td><tt>42fa04d3f795bc5a514d2d1afa411b65a9d486cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kiriki-4.11.5.tar.xz">kiriki-4.11.5</a></td>
   <td align="right">114kB</td>
   <td><tt>91ff7379c0384a1d8e10f6d3964578eed671cc57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kiten-4.11.5.tar.xz">kiten-4.11.5</a></td>
   <td align="right">11MB</td>
   <td><tt>9fbe415304cf7176b33873045a625ee86cd0a897</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kjumpingcube-4.11.5.tar.xz">kjumpingcube-4.11.5</a></td>
   <td align="right">160kB</td>
   <td><tt>ad6bec9fd53a9ea2cd90ba96dea339eac46ee7d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/klettres-4.11.5.tar.xz">klettres-4.11.5</a></td>
   <td align="right">2.5MB</td>
   <td><tt>8fccbd21ccb51891885202a5e79b2b09d059ae36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/klickety-4.11.5.tar.xz">klickety-4.11.5</a></td>
   <td align="right">765kB</td>
   <td><tt>6ab7f06de6fb7fde6e0342cfb16cefdecc767373</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/klines-4.11.5.tar.xz">klines-4.11.5</a></td>
   <td align="right">927kB</td>
   <td><tt>5e70b0c65ad80fd48bf857d76095303dcd02cb1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kmag-4.11.5.tar.xz">kmag-4.11.5</a></td>
   <td align="right">84kB</td>
   <td><tt>24e64d6a9644845837c3820c5f399058386c8e6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kmahjongg-4.11.5.tar.xz">kmahjongg-4.11.5</a></td>
   <td align="right">979kB</td>
   <td><tt>fd77968cfcd152a0f8a9023f49499166e089ae90</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kmines-4.11.5.tar.xz">kmines-4.11.5</a></td>
   <td align="right">613kB</td>
   <td><tt>a094a9b91669a217f3ed4a42d02b89bd24b6be99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kmix-4.11.5.tar.xz">kmix-4.11.5</a></td>
   <td align="right">372kB</td>
   <td><tt>ade4aa2112a2c1cb815c1168e0f865f634b5e4f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kmousetool-4.11.5.tar.xz">kmousetool-4.11.5</a></td>
   <td align="right">35kB</td>
   <td><tt>335a645fdaed2e70878bf2d4d96fc13e7002da15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kmouth-4.11.5.tar.xz">kmouth-4.11.5</a></td>
   <td align="right">301kB</td>
   <td><tt>13767a140270108269c0862fd1ddac940a384b7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kmplot-4.11.5.tar.xz">kmplot-4.11.5</a></td>
   <td align="right">639kB</td>
   <td><tt>f77dd0747c844d0c0e533757b439023f72267cba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/knavalbattle-4.11.5.tar.xz">knavalbattle-4.11.5</a></td>
   <td align="right">829kB</td>
   <td><tt>74bbe2f69242575991b178fc31adcca799dc6988</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/knetwalk-4.11.5.tar.xz">knetwalk-4.11.5</a></td>
   <td align="right">763kB</td>
   <td><tt>2bcdd3efe9b30821f03428aa4ab88f9d8b2bd3c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kolf-4.11.5.tar.xz">kolf-4.11.5</a></td>
   <td align="right">747kB</td>
   <td><tt>6baf74b347627fd9ceffbb99f47159443f00f472</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kollision-4.11.5.tar.xz">kollision-4.11.5</a></td>
   <td align="right">202kB</td>
   <td><tt>9a171cd5809830cfaec0081c44d79145c95abf8c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kolourpaint-4.11.5.tar.xz">kolourpaint-4.11.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>391c8cdd63bcad0427562084a84e00be5d86f746</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kompare-4.11.5.tar.xz">kompare-4.11.5</a></td>
   <td align="right">365kB</td>
   <td><tt>9fecd4244aa63999d58dd7e136701a243e9c6a18</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/konquest-4.11.5.tar.xz">konquest-4.11.5</a></td>
   <td align="right">399kB</td>
   <td><tt>b1c18a4babdd8e8e9fd62b2a7088c2321652e9e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/konsole-4.11.5.tar.xz">konsole-4.11.5</a></td>
   <td align="right">438kB</td>
   <td><tt>15121a524362953a81bd0c05759f148c53484ff6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kopete-4.11.5.tar.xz">kopete-4.11.5</a></td>
   <td align="right">6.1MB</td>
   <td><tt>763eed262a10a9d89cb0c0b3c0f7a94da4d4b0d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/korundum-4.11.5.tar.xz">korundum-4.11.5</a></td>
   <td align="right">157kB</td>
   <td><tt>98343c1fbc1af1a5ffbee55cc22d7491cd84fee3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kpat-4.11.5.tar.xz">kpat-4.11.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>e10f9eda064e9965681a2cba14d192871aff8351</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kppp-4.11.5.tar.xz">kppp-4.11.5</a></td>
   <td align="right">683kB</td>
   <td><tt>af23007b085850c0242387e794b86a7ab7f0c91c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/krdc-4.11.5.tar.xz">krdc-4.11.5</a></td>
   <td align="right">387kB</td>
   <td><tt>00c9201e3dcbbdbfe65adff48bdadfbc04d3b498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kremotecontrol-4.11.5.tar.xz">kremotecontrol-4.11.5</a></td>
   <td align="right">1.0MB</td>
   <td><tt>55ee9e3d229139396aa31016e93d5308366d92ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kreversi-4.11.5.tar.xz">kreversi-4.11.5</a></td>
   <td align="right">355kB</td>
   <td><tt>74802bead0af97ba4c34794d2466123daf00e8a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/krfb-4.11.5.tar.xz">krfb-4.11.5</a></td>
   <td align="right">457kB</td>
   <td><tt>b6bcd2d92245f683b6c8de9e6077340e3759caa6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kross-interpreters-4.11.5.tar.xz">kross-interpreters-4.11.5</a></td>
   <td align="right">128kB</td>
   <td><tt>6711e95f0c299fdd3d0702ef1e7228bfd72f0765</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kruler-4.11.5.tar.xz">kruler-4.11.5</a></td>
   <td align="right">125kB</td>
   <td><tt>b7edfb4d0678b512835d3ee6ea7405e81e2b81af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/ksaneplugin-4.11.5.tar.xz">ksaneplugin-4.11.5</a></td>
   <td align="right">12kB</td>
   <td><tt>8bb9de02d36a87415969f6f21656511ae05a4521</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kscd-4.11.5.tar.xz">kscd-4.11.5</a></td>
   <td align="right">90kB</td>
   <td><tt>dc605614d4e825e0e0283cab419e1243f4170ad1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kshisen-4.11.5.tar.xz">kshisen-4.11.5</a></td>
   <td align="right">133kB</td>
   <td><tt>e785854385e11b7c6dc13ea608e853e2372c3db0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/ksirk-4.11.5.tar.xz">ksirk-4.11.5</a></td>
   <td align="right">4.7MB</td>
   <td><tt>741fabba53338028c813e2aac2a7c31527c145eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/ksnakeduel-4.11.5.tar.xz">ksnakeduel-4.11.5</a></td>
   <td align="right">312kB</td>
   <td><tt>21a6946f262cfa5c953c4a3c6f3ddc70fedb70d0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/ksnapshot-4.11.5.tar.xz">ksnapshot-4.11.5</a></td>
   <td align="right">252kB</td>
   <td><tt>f126c5ad5b55901110c4c272839e28820b16203f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kspaceduel-4.11.5.tar.xz">kspaceduel-4.11.5</a></td>
   <td align="right">247kB</td>
   <td><tt>39d00aabbbd528b9e02d680fdd9866f6d5f41e41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/ksquares-4.11.5.tar.xz">ksquares-4.11.5</a></td>
   <td align="right">75kB</td>
   <td><tt>c5a1379bfefc833d7b2d3fc3cf1ad44680eb229d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kstars-4.11.5.tar.xz">kstars-4.11.5</a></td>
   <td align="right">11MB</td>
   <td><tt>f1bf1f5e861acac1b1ce1e69e513a8e21a63c6f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/ksudoku-4.11.5.tar.xz">ksudoku-4.11.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>e5624934dafe4a8974e96f0c252d6c51f7397cb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/ksystemlog-4.11.5.tar.xz">ksystemlog-4.11.5</a></td>
   <td align="right">372kB</td>
   <td><tt>c637b7521ebe6a6e61f8b8621084b8e9e8713454</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kteatime-4.11.5.tar.xz">kteatime-4.11.5</a></td>
   <td align="right">98kB</td>
   <td><tt>32402382e31226ea95e9c95706ca695934ec6acd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/ktimer-4.11.5.tar.xz">ktimer-4.11.5</a></td>
   <td align="right">143kB</td>
   <td><tt>4979748c29c451b886c8a13889d6e46bae3e42c7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/ktouch-4.11.5.tar.xz">ktouch-4.11.5</a></td>
   <td align="right">2.4MB</td>
   <td><tt>d66b0ddbce1b9645e9b20b8beb655f776c410530</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/ktuberling-4.11.5.tar.xz">ktuberling-4.11.5</a></td>
   <td align="right">4.0MB</td>
   <td><tt>6035714478545930402905c5100ecee88dd9e3ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kturtle-4.11.5.tar.xz">kturtle-4.11.5</a></td>
   <td align="right">184kB</td>
   <td><tt>364c99b447d4b3471e871c95edec8de2468ad00d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/ktux-4.11.5.tar.xz">ktux-4.11.5</a></td>
   <td align="right">105kB</td>
   <td><tt>5c1ae9fd639d2c4510b09545e7cae0aa26b0dadb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kubrick-4.11.5.tar.xz">kubrick-4.11.5</a></td>
   <td align="right">104kB</td>
   <td><tt>9d3a6b038ba86d3ae7259d13fdf5d3b77afed899</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kuser-4.11.5.tar.xz">kuser-4.11.5</a></td>
   <td align="right">132kB</td>
   <td><tt>fb17246c930f80998be01c88482d358115192c37</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kwallet-4.11.5.tar.xz">kwallet-4.11.5</a></td>
   <td align="right">375kB</td>
   <td><tt>cd5fcadce9c00863c2a6ab79d6d2799f85c6f44b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kwordquiz-4.11.5.tar.xz">kwordquiz-4.11.5</a></td>
   <td align="right">1.1MB</td>
   <td><tt>b35347d84c951d59a87def8a73c70a1c5f8b7ebf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/libkcddb-4.11.5.tar.xz">libkcddb-4.11.5</a></td>
   <td align="right">154kB</td>
   <td><tt>966f5cddaa1414a11b0728d57966faccfe5eea92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/libkcompactdisc-4.11.5.tar.xz">libkcompactdisc-4.11.5</a></td>
   <td align="right">74kB</td>
   <td><tt>066143417dee51750c00e80e491ba99d9c173808</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/libkdcraw-4.11.5.tar.xz">libkdcraw-4.11.5</a></td>
   <td align="right">340kB</td>
   <td><tt>ad5b403d9d5eaadee1928b141ac0739716333fb2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/libkdeedu-4.11.5.tar.xz">libkdeedu-4.11.5</a></td>
   <td align="right">204kB</td>
   <td><tt>e6e77d1cca4edb09fa2886ad0041ea4fb3be1c63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/libkdegames-4.11.5.tar.xz">libkdegames-4.11.5</a></td>
   <td align="right">5.5MB</td>
   <td><tt>3a0e14359ebcc5fffe1cf9cac311ec9b0865ded9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/libkexiv2-4.11.5.tar.xz">libkexiv2-4.11.5</a></td>
   <td align="right">133kB</td>
   <td><tt>1e2d8b425b40f38ec2cd4c697297279d0807f8ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/libkipi-4.11.5.tar.xz">libkipi-4.11.5</a></td>
   <td align="right">92kB</td>
   <td><tt>24e3c1ba11d31a131f03032ef8734148225bdeab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/libkmahjongg-4.11.5.tar.xz">libkmahjongg-4.11.5</a></td>
   <td align="right">1.5MB</td>
   <td><tt>75ff99a56757316524b2896385c909c574d1239e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/libksane-4.11.5.tar.xz">libksane-4.11.5</a></td>
   <td align="right">79kB</td>
   <td><tt>4d07eba85acb66db9cf1bfa27a836a0fadd59e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/lokalize-4.11.5.tar.xz">lokalize-4.11.5</a></td>
   <td align="right">826kB</td>
   <td><tt>b9ff5690992c3bff79bf52446c97d0187d0cfd4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/lskat-4.11.5.tar.xz">lskat-4.11.5</a></td>
   <td align="right">908kB</td>
   <td><tt>72fb861abf0d6b949fca977fa097c8777a12c4ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/marble-4.11.5.tar.xz">marble-4.11.5</a></td>
   <td align="right">18MB</td>
   <td><tt>b1aeaab423b553e6e18298fd76ec7bee843dcdb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/mplayerthumbs-4.11.5.tar.xz">mplayerthumbs-4.11.5</a></td>
   <td align="right">26kB</td>
   <td><tt>8f729e459623ffb6f7df3fd4a432bc9d6f1d6029</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/nepomuk-core-4.11.5.tar.xz">nepomuk-core-4.11.5</a></td>
   <td align="right">376kB</td>
   <td><tt>783d38400f79fb0983e12df0b69a1349c45eeca1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/nepomuk-widgets-4.11.5.tar.xz">nepomuk-widgets-4.11.5</a></td>
   <td align="right">47kB</td>
   <td><tt>6af8cff0b46bd092cb7e6e75fed09c717ce79baf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/okteta-4.11.5.tar.xz">okteta-4.11.5</a></td>
   <td align="right">486kB</td>
   <td><tt>08620942826e43f4a88bc842dcdecf7abaacd04a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/okular-4.11.5.tar.xz">okular-4.11.5</a></td>
   <td align="right">1.4MB</td>
   <td><tt>608c834a0dcbc5279992ef77186fdb21754654dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/oxygen-icons-4.11.5.tar.xz">oxygen-icons-4.11.5</a></td>
   <td align="right">276MB</td>
   <td><tt>a5a9af81e39eb2251dd70a573084812cb5e62618</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/pairs-4.11.5.tar.xz">pairs-4.11.5</a></td>
   <td align="right">2.6MB</td>
   <td><tt>069ad91c6825e5b8ab97b272defbbd528c3400bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/palapeli-4.11.5.tar.xz">palapeli-4.11.5</a></td>
   <td align="right">1.6MB</td>
   <td><tt>c68a88d6a6c64fe10731e012f14a785ddb1d39e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/parley-4.11.5.tar.xz">parley-4.11.5</a></td>
   <td align="right">7.5MB</td>
   <td><tt>47ff00463099a793c4106f733c495ec4da140bad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/perlkde-4.11.5.tar.xz">perlkde-4.11.5</a></td>
   <td align="right">39kB</td>
   <td><tt>f9fb8e51bd38b63a34b6d454b5eea9808c683e1e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/perlqt-4.11.5.tar.xz">perlqt-4.11.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>d7edbcfd5e3b0a6d1453b1ba72a2ab19eb1e7577</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/picmi-4.11.5.tar.xz">picmi-4.11.5</a></td>
   <td align="right">711kB</td>
   <td><tt>d2242cebbb4381547db85cb01ddb2b357b59c4ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/poxml-4.11.5.tar.xz">poxml-4.11.5</a></td>
   <td align="right">30kB</td>
   <td><tt>073ab7ad98eff46ced66e234adbafa2afdb86138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/print-manager-4.11.5.tar.xz">print-manager-4.11.5</a></td>
   <td align="right">90kB</td>
   <td><tt>1053b71268ca7b4efea00f5c18c801c629cdc16e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/pykde4-4.11.5.tar.xz">pykde4-4.11.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>c71b0774fcd6385272fb01dd466e6778a904da19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/qtruby-4.11.5.tar.xz">qtruby-4.11.5</a></td>
   <td align="right">517kB</td>
   <td><tt>55e9c27b34decf5f6c8cc5c65a9c6cbbacd13640</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/qyoto-4.11.5.tar.xz">qyoto-4.11.5</a></td>
   <td align="right">498kB</td>
   <td><tt>13947c5999706a5ed49608062571f23a958b8fe6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/rocs-4.11.5.tar.xz">rocs-4.11.5</a></td>
   <td align="right">1.0MB</td>
   <td><tt>d4aab2792407fe4bae86baae06abcb752710977f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/smokegen-4.11.5.tar.xz">smokegen-4.11.5</a></td>
   <td align="right">143kB</td>
   <td><tt>cbe8ad7e1f0beb751745dc6f2f8188e07e621b03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/smokekde-4.11.5.tar.xz">smokekde-4.11.5</a></td>
   <td align="right">36kB</td>
   <td><tt>600b5df43dd0c80ba590e4b68d98f2d2a26c98a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/smokeqt-4.11.5.tar.xz">smokeqt-4.11.5</a></td>
   <td align="right">30kB</td>
   <td><tt>d121cb55905a7aaeb0d06dd929699fafe0a2273b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/step-4.11.5.tar.xz">step-4.11.5</a></td>
   <td align="right">353kB</td>
   <td><tt>a3476750f4c5c8773b439ea86b4d232fcfc68b1b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/superkaramba-4.11.5.tar.xz">superkaramba-4.11.5</a></td>
   <td align="right">374kB</td>
   <td><tt>17d55da3fe4cb30aa44ad876921665a529d90533</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/svgpart-4.11.5.tar.xz">svgpart-4.11.5</a></td>
   <td align="right">8kB</td>
   <td><tt>6e64f96c60ad1dd487e3242420d92d376d4f4971</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/sweeper-4.11.5.tar.xz">sweeper-4.11.5</a></td>
   <td align="right">80kB</td>
   <td><tt>d2be24a0e34d6c5d52598ef4032a6ea6a301da36</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/umbrello-4.11.5.tar.xz">umbrello-4.11.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>f0c3565fd98059fa0c051b2c7c18f5ca80bf28df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-ar-4.11.5.tar.xz">kde-l10n-ar-4.11.5</a></td>
   <td align="right">3.1MB</td>
   <td><tt>f39bb450dd6f97d9dc7de522975169f2d75e6f11</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-bg-4.11.5.tar.xz">kde-l10n-bg-4.11.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>10ae24a340212131b5c48ec45f9ec2e065ee136d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-bs-4.11.5.tar.xz">kde-l10n-bs-4.11.5</a></td>
   <td align="right">2.2MB</td>
   <td><tt>019e25cbe22c3ba773a31a7f5d4c371d763404f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-ca-4.11.5.tar.xz">kde-l10n-ca-4.11.5</a></td>
   <td align="right">11MB</td>
   <td><tt>5ef36c1673c388ec1c4b1473a76aba063cf9092d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-ca@valencia-4.11.5.tar.xz">kde-l10n-ca@valencia-4.11.5</a></td>
   <td align="right">2.1MB</td>
   <td><tt>a4465c9af815d3636c35eb3f8bc8edcf626437c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-cs-4.11.5.tar.xz">kde-l10n-cs-4.11.5</a></td>
   <td align="right">2.8MB</td>
   <td><tt>0a10304dc13a1f009b92de62b2504a66c2fac9b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-da-4.11.5.tar.xz">kde-l10n-da-4.11.5</a></td>
   <td align="right">12MB</td>
   <td><tt>347f0ee40b0252c79a0571707c5fa81345d3d42b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-de-4.11.5.tar.xz">kde-l10n-de-4.11.5</a></td>
   <td align="right">34MB</td>
   <td><tt>c99bea1b871fce4b24b027be0f11c6a03f906a3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-el-4.11.5.tar.xz">kde-l10n-el-4.11.5</a></td>
   <td align="right">4.6MB</td>
   <td><tt>3ef585f7a518365fbf34e75a7efae164e92cb2d1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-en_GB-4.11.5.tar.xz">kde-l10n-en_GB-4.11.5</a></td>
   <td align="right">2.9MB</td>
   <td><tt>6d66b03b94f6e0b80ea1ad04cc7ed8a492949e83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-es-4.11.5.tar.xz">kde-l10n-es-4.11.5</a></td>
   <td align="right">20MB</td>
   <td><tt>61ef1cdf5ffa85ae94a903ade6c8ea2f5479060f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-et-4.11.5.tar.xz">kde-l10n-et-4.11.5</a></td>
   <td align="right">5.2MB</td>
   <td><tt>4d374bbfb1fff89f4b811eff04713714332fc09c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-eu-4.11.5.tar.xz">kde-l10n-eu-4.11.5</a></td>
   <td align="right">2.0MB</td>
   <td><tt>c69f447b4b50721840df6c501b2ad4fbcb33f766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-fa-4.11.5.tar.xz">kde-l10n-fa-4.11.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>4033db175e8e1703f7cf496afe91d03bbe1a30e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-fi-4.11.5.tar.xz">kde-l10n-fi-4.11.5</a></td>
   <td align="right">2.5MB</td>
   <td><tt>3b4460fbda763fb49d3aaebad1add16c771f59b4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-fr-4.11.5.tar.xz">kde-l10n-fr-4.11.5</a></td>
   <td align="right">43MB</td>
   <td><tt>19f66491430a5c6c011ffc028ca83c3c45d026cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-ga-4.11.5.tar.xz">kde-l10n-ga-4.11.5</a></td>
   <td align="right">2.7MB</td>
   <td><tt>072f5d52557fe14305bc9f069fc49f65ee092e1c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-gl-4.11.5.tar.xz">kde-l10n-gl-4.11.5</a></td>
   <td align="right">3.4MB</td>
   <td><tt>f41d32d33ed86f7a5c593b592faf4033bccd04d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-he-4.11.5.tar.xz">kde-l10n-he-4.11.5</a></td>
   <td align="right">2.0MB</td>
   <td><tt>34dc0e9a6a0dc6e077125e3acad691400ccc443d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-hi-4.11.5.tar.xz">kde-l10n-hi-4.11.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>16f6dad6ca41f12bd37c1ba4c9f9c215ed67ee24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-hr-4.11.5.tar.xz">kde-l10n-hr-4.11.5</a></td>
   <td align="right">1.9MB</td>
   <td><tt>4e6210b80aa501c19303a2abf9dddb631167cfa1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-hu-4.11.5.tar.xz">kde-l10n-hu-4.11.5</a></td>
   <td align="right">4.0MB</td>
   <td><tt>61c789d54b37a54ab47b0196e7378427219703d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-ia-4.11.5.tar.xz">kde-l10n-ia-4.11.5</a></td>
   <td align="right">1.3MB</td>
   <td><tt>10ff40cfede5096d10286e14445081effa2f448d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-is-4.11.5.tar.xz">kde-l10n-is-4.11.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>1fd98976fd381d132e051cb7b98f6b130ce8f45b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-it-4.11.5.tar.xz">kde-l10n-it-4.11.5</a></td>
   <td align="right">8.3MB</td>
   <td><tt>c109a9c95d87e2b08529c81eb96ac47e40d735fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-ja-4.11.5.tar.xz">kde-l10n-ja-4.11.5</a></td>
   <td align="right">2.1MB</td>
   <td><tt>aec0f4d170471591a3b7e4852bdeee89b5249f39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-kk-4.11.5.tar.xz">kde-l10n-kk-4.11.5</a></td>
   <td align="right">2.5MB</td>
   <td><tt>bdbe209a1bb1eb5ca6cc6727295d4fe965ee5a73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-km-4.11.5.tar.xz">kde-l10n-km-4.11.5</a></td>
   <td align="right">2.1MB</td>
   <td><tt>82b830415e26a96535c99e0f0e7bc94d2e3e7fb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-ko-4.11.5.tar.xz">kde-l10n-ko-4.11.5</a></td>
   <td align="right">1.6MB</td>
   <td><tt>559d5b65f2de8d6a55836aebecbe74d007f710b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-lt-4.11.5.tar.xz">kde-l10n-lt-4.11.5</a></td>
   <td align="right">12MB</td>
   <td><tt>912d9340e1f203e5daa04df508894f4746788cd2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-lv-4.11.5.tar.xz">kde-l10n-lv-4.11.5</a></td>
   <td align="right">2.1MB</td>
   <td><tt>e663504ef90c6dce62d38672d0cc9951707927d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-mr-4.11.5.tar.xz">kde-l10n-mr-4.11.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>7801df54ac6c8bdc79643cf273c0597b1e9138bc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-nb-4.11.5.tar.xz">kde-l10n-nb-4.11.5</a></td>
   <td align="right">2.3MB</td>
   <td><tt>abd71fbcc62fa6c79ce07ea27f617b9d629573f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-nds-4.11.5.tar.xz">kde-l10n-nds-4.11.5</a></td>
   <td align="right">3.0MB</td>
   <td><tt>1ae589bf77011f14c2e5a40f00a584e6b12a96df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-nl-4.11.5.tar.xz">kde-l10n-nl-4.11.5</a></td>
   <td align="right">13MB</td>
   <td><tt>107b96745eb6825b1660fc35ae61d79951e795b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-nn-4.11.5.tar.xz">kde-l10n-nn-4.11.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>14f85277def9fe5081a112f90539b6f4913a69fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-pa-4.11.5.tar.xz">kde-l10n-pa-4.11.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>98d4d116050bc6be2cf47a25a81f32c76be4f086</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-pl-4.11.5.tar.xz">kde-l10n-pl-4.11.5</a></td>
   <td align="right">16MB</td>
   <td><tt>cc350e8772d8a725c36bfab085a8485ea298335c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-pt-4.11.5.tar.xz">kde-l10n-pt-4.11.5</a></td>
   <td align="right">3.5MB</td>
   <td><tt>32d24a5d13f0fc3c3f16f989f5e500201da755a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-pt_BR-4.11.5.tar.xz">kde-l10n-pt_BR-4.11.5</a></td>
   <td align="right">23MB</td>
   <td><tt>dabd03d95fce8844c58e0732d4aa25c5da3ffa16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-ro-4.11.5.tar.xz">kde-l10n-ro-4.11.5</a></td>
   <td align="right">2.8MB</td>
   <td><tt>5a4de3d25ff5e9959a5b9f02e72f0e76e7b00a02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-ru-4.11.5.tar.xz">kde-l10n-ru-4.11.5</a></td>
   <td align="right">21MB</td>
   <td><tt>f0e000ca57b49b4f99c36d0182d6b46895edae73</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-sk-4.11.5.tar.xz">kde-l10n-sk-4.11.5</a></td>
   <td align="right">4.1MB</td>
   <td><tt>463edb49f938d2246ea656f9256d58865a772849</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-sl-4.11.5.tar.xz">kde-l10n-sl-4.11.5</a></td>
   <td align="right">3.4MB</td>
   <td><tt>3fd0f701b75c331916995ca13c335a3638a61fb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-sr-4.11.5.tar.xz">kde-l10n-sr-4.11.5</a></td>
   <td align="right">4.4MB</td>
   <td><tt>e5b3b624cfa4bf447766389895b479c845d4d47f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-sv-4.11.5.tar.xz">kde-l10n-sv-4.11.5</a></td>
   <td align="right">13MB</td>
   <td><tt>636c4492b1c6a6e32984f32237f4e553edf361df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-tg-4.11.5.tar.xz">kde-l10n-tg-4.11.5</a></td>
   <td align="right">1.8MB</td>
   <td><tt>214dd221afd9bd1891c322619780cbac53fda7f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-tr-4.11.5.tar.xz">kde-l10n-tr-4.11.5</a></td>
   <td align="right">3.8MB</td>
   <td><tt>b36482e21e824e1da2a40db5af17c9928da5fced</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-ug-4.11.5.tar.xz">kde-l10n-ug-4.11.5</a></td>
   <td align="right">1.6MB</td>
   <td><tt>53a4a11818605cde001fe5cf64d1df51dc7a6fb4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-uk-4.11.5.tar.xz">kde-l10n-uk-4.11.5</a></td>
   <td align="right">24MB</td>
   <td><tt>88d0ffa42aa1d85e41ac19570b0549840baa5e49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-vi-4.11.5.tar.xz">kde-l10n-vi-4.11.5</a></td>
   <td align="right">916kB</td>
   <td><tt>bded0553760f1f9f1405285a86320bb9f4cc14a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-wa-4.11.5.tar.xz">kde-l10n-wa-4.11.5</a></td>
   <td align="right">1.6MB</td>
   <td><tt>46abc431d7a24baa1ed08af3ff04141dcaab8077</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-zh_CN-4.11.5.tar.xz">kde-l10n-zh_CN-4.11.5</a></td>
   <td align="right">3.4MB</td>
   <td><tt>cd907ce9f6d2650d07e6ffe1fa4d063f978e792d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/4.11.5/src/kde-l10n/kde-l10n-zh_TW-4.11.5.tar.xz">kde-l10n-zh_TW-4.11.5</a></td>
   <td align="right">2.4MB</td>
   <td><tt>0a031d6d0959da8467df344c5889d10e7f99ed75</tt></td>
</tr>

</table>
