<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/bluedevil-5.4.95.tar.xz">bluedevil-5.4.95</a></td>
   <td align="right">124kB</td>
   <td><tt>97742a0adc3ddd9b91218cd7cde5a1598c9b72294c714c98f6fa8237f836cd39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/breeze-5.4.95.tar.xz">breeze-5.4.95</a></td>
   <td align="right">28MB</td>
   <td><tt>d977eb333329be6777bc7e9835fca1d4b16b240c90b7f70dc4229afbebf47df7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/breeze-gtk-5.4.95.tar.xz">breeze-gtk-5.4.95</a></td>
   <td align="right">251kB</td>
   <td><tt>0fdb07237422029842dd3fcc49370913a6f091a63e033e4156b37b6caa7518b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/discover-5.4.95.tar.xz">discover-5.4.95</a></td>
   <td align="right">819kB</td>
   <td><tt>3fd682cbc29bbf07f27f39b6c1c619e8c7a0a41f9ddb7e7a94500df1f45942ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/kde-cli-tools-5.4.95.tar.xz">kde-cli-tools-5.4.95</a></td>
   <td align="right">474kB</td>
   <td><tt>43de2a3f93d38318a0b8978a7f208947ca412046288d8c75b6004429a55c0056</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/kdecoration-5.4.95.tar.xz">kdecoration-5.4.95</a></td>
   <td align="right">33kB</td>
   <td><tt>c3398a9fb4ef18c080cec4cfc0b9a24ca3475b3d32b69933458380c26cca6dc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/kde-gtk-config-5.4.95.tar.xz">kde-gtk-config-5.4.95</a></td>
   <td align="right">142kB</td>
   <td><tt>30fed060a53f82f03f1b580698d9d62021f835edaa8af8012a489355eaf5899e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/kdeplasma-addons-5.4.95.tar.xz">kdeplasma-addons-5.4.95</a></td>
   <td align="right">2.0MB</td>
   <td><tt>f89f6733eca2892017214d2245c38ee0de8a7fb16193ad43de929a18af496da8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/kgamma5-5.4.95.tar.xz">kgamma5-5.4.95</a></td>
   <td align="right">58kB</td>
   <td><tt>d3da3f9690126d09d9981df0f1178180f59752558a77bee211034d410669eb4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/khelpcenter-5.4.95.tar.xz">khelpcenter-5.4.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>64e539f41c077dc8b5601a1a58cecf571860a31ce1883933e31788afbdc47927</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/khotkeys-5.4.95.tar.xz">khotkeys-5.4.95</a></td>
   <td align="right">593kB</td>
   <td><tt>7b9502ce8e94c21006bdaac9e470a34e8bc86000bdf91149176a2f6bf4ee5dc1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/kinfocenter-5.4.95.tar.xz">kinfocenter-5.4.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>4bf2fe2f3aeaf2a00a03b18d056620e0afb94cecf105288af168c28f3b9ae7f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/kmenuedit-5.4.95.tar.xz">kmenuedit-5.4.95</a></td>
   <td align="right">431kB</td>
   <td><tt>f829a9cd604f100122fd1ead31d7a7c9576240a17802815a5b32dc2ffe7f6adc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/kscreen-5.4.95.tar.xz">kscreen-5.4.95</a></td>
   <td align="right">100kB</td>
   <td><tt>a565c59861298ac2a5b6f56ab85c501f389a23c9261d9b109f3620a3a2f03cee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/kscreenlocker-5.4.95.tar.xz">kscreenlocker-5.4.95</a></td>
   <td align="right">93kB</td>
   <td><tt>2f374acab07a221aaaa055750910d4e66246f9801a036c5632dd7de7d3680223</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/ksshaskpass-5.4.95.tar.xz">ksshaskpass-5.4.95</a></td>
   <td align="right">19kB</td>
   <td><tt>6481e20f76fd7be6591cf8d4b17454f8c7d1bd397af462cdea668628011064a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/ksysguard-5.4.95.tar.xz">ksysguard-5.4.95</a></td>
   <td align="right">474kB</td>
   <td><tt>e3e42c422e7b5a11a8bf58ec579f3772d98625dfdf7653f7eb76df8fc65559ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/kwallet-pam-5.4.95.tar.xz">kwallet-pam-5.4.95</a></td>
   <td align="right">15kB</td>
   <td><tt>c5405b06747ba2380f54171a1ec6570404becf43a19c3cb8db10cd2550e9706f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/kwayland-5.4.95.tar.xz">kwayland-5.4.95</a></td>
   <td align="right">155kB</td>
   <td><tt>1e5bf620e765bb9973bcab7a93e7f2b4a0ad08e889bc1e9ec3afd7d997128d70</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/kwayland-integration-5.4.95.tar.xz">kwayland-integration-5.4.95</a></td>
   <td align="right">16kB</td>
   <td><tt>46ca21f638c8ce01795187c97af0296daa341ecf3bac0e22362b710bb583a2b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/kwin-5.4.95.tar.xz">kwin-5.4.95</a></td>
   <td align="right">3.6MB</td>
   <td><tt>1e2e55ab0b27b66b6f5829d444796d9906dc5d056e8b1334d20a08c7ee0ebc25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/kwrited-5.4.95.tar.xz">kwrited-5.4.95</a></td>
   <td align="right">19kB</td>
   <td><tt>c2e7c89f5851f5c13de4178596c15a2dc1b6936397883c7145a733fe3deaf0af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/libkscreen-5.4.95.tar.xz">libkscreen-5.4.95</a></td>
   <td align="right">70kB</td>
   <td><tt>4a0368707b18b949434d854ddc84e7753fe7956f918fc07282a2390a27f5f2c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/libksysguard-5.4.95.tar.xz">libksysguard-5.4.95</a></td>
   <td align="right">554kB</td>
   <td><tt>f13f2ba7667454d7e0af61e00df3eff7a530404e01310b8fa0614e256fa09d4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/milou-5.4.95.tar.xz">milou-5.4.95</a></td>
   <td align="right">50kB</td>
   <td><tt>6d04c87287437a6306c3a47328f477d4aaa838fcbf715c3a7fba29b3a424bf25</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/oxygen-5.4.95.tar.xz">oxygen-5.4.95</a></td>
   <td align="right">4.2MB</td>
   <td><tt>25efc70b9eda35f12d086321e3ea4841a66660e62c7380bfa0f6513e97f22449</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/plasma-desktop-5.4.95.tar.xz">plasma-desktop-5.4.95</a></td>
   <td align="right">5.2MB</td>
   <td><tt>d7bfb5034af2814aea657fea0b1ff4e0bee0ca7aa0a73ded047aca6274155965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/plasma-mediacenter-5.4.95.tar.xz">plasma-mediacenter-5.4.95</a></td>
   <td align="right">156kB</td>
   <td><tt>53c1a00442f05c4bc51771dcfa76fd829daec7146a772a69d80731c81183ef4f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/plasma-nm-5.4.95.tar.xz">plasma-nm-5.4.95</a></td>
   <td align="right">586kB</td>
   <td><tt>bac92f55ede5e08a63135e5e4e960834425a155ee29800a1f2276d3aa9388c33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/plasma-pa-5.4.95.tar.xz">plasma-pa-5.4.95</a></td>
   <td align="right">51kB</td>
   <td><tt>bc5a9cf302833e8436801ee47c54f87120c3000abfe444b528dc26fa698b7d57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/plasma-sdk-5.4.95.tar.xz">plasma-sdk-5.4.95</a></td>
   <td align="right">646kB</td>
   <td><tt>d37cc11acde96209b5cb01ad581b098ad93f22eca83ce1a9b048b15531013ad2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/plasma-workspace-5.4.95.tar.xz">plasma-workspace-5.4.95</a></td>
   <td align="right">7.0MB</td>
   <td><tt>db2af2adf43758a7f37542d8225feee117c7d9b13c4a27c6f67ddd824bc7c2a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/plasma-workspace-wallpapers-5.4.95.tar.xz">plasma-workspace-wallpapers-5.4.95</a></td>
   <td align="right">43MB</td>
   <td><tt>ff4789c7df943b568464f1b2b3ab2e55fa97b8404d72faecbd2454bbcc84e02f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/polkit-kde-agent-1-5.4.95.tar.xz">polkit-kde-agent-1-5.4.95</a></td>
   <td align="right">38kB</td>
   <td><tt>8ff1849a28b3dd951ac229da7b0c1bbd77de8aa4f3360acfe1abd8eecc508441</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/powerdevil-5.4.95.tar.xz">powerdevil-5.4.95</a></td>
   <td align="right">337kB</td>
   <td><tt>07c3c8e0de5a31589a5773268aee5034de0bac985b21cc25267338524c1b6a60</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/sddm-kcm-5.4.95.tar.xz">sddm-kcm-5.4.95</a></td>
   <td align="right">46kB</td>
   <td><tt>856cc3e082337369ec6603497cf690e794e659744e67c1d930450264b125221a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/systemsettings-5.4.95.tar.xz">systemsettings-5.4.95</a></td>
   <td align="right">153kB</td>
   <td><tt>589bfbf05c6c05110dca8c285eed4272a0e32db1c5924bce5ab80e322564277f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/plasma/5.4.95/user-manager-5.4.95.tar.xz">user-manager-5.4.95</a></td>
   <td align="right">55kB</td>
   <td><tt>7f6c18c75e5ee67d5b918835cc141ea85bcb12e4afa4c06b84f3b1c1c1c26eb5</tt></td>
</tr>

</table>
