<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">MD5&nbsp;Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/arts-1.5.9.tar.bz2">arts-1.5.9</a></td>
   <td align="right">950kB</td>
   <td><tt>62a5e4d522314bab19288e4702480c93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdeaccessibility-3.5.9.tar.bz2">kdeaccessibility-3.5.9</a></td>
   <td align="right">8.3MB</td>
   <td><tt>79c7fa53ec60ad51fbdb16aac56d85a1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdeaddons-3.5.9.tar.bz2">kdeaddons-3.5.9</a></td>
   <td align="right">1.6MB</td>
   <td><tt>eaa3832a25b483d1a9613f75991c3d7b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdeadmin-3.5.9.tar.bz2">kdeadmin-3.5.9</a></td>
   <td align="right">2.0MB</td>
   <td><tt>e6607ea27b332616d20f4564656cb885</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdeartwork-3.5.9.tar.bz2">kdeartwork-3.5.9</a></td>
   <td align="right">15MB</td>
   <td><tt>ec526eba38421fd3b143682b8d683c86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdebase-3.5.9.tar.bz2">kdebase-3.5.9</a></td>
   <td align="right">23MB</td>
   <td><tt>c8c35389a238aa1b73e68ef5298eadf8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdebindings-3.5.9.tar.bz2">kdebindings-3.5.9</a></td>
   <td align="right">5.4MB</td>
   <td><tt>ba780920f6b810a30a61b1ffa888706b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdeedu-3.5.9.tar.bz2">kdeedu-3.5.9</a></td>
   <td align="right">28MB</td>
   <td><tt>cbdabe916ce6fa300f8dab972c5cb4a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdegames-3.5.9.tar.bz2">kdegames-3.5.9</a></td>
   <td align="right">10MB</td>
   <td><tt>472385f21a692270fb5643d7617c7ff3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdegraphics-3.5.9.tar.bz2">kdegraphics-3.5.9</a></td>
   <td align="right">7.0MB</td>
   <td><tt>3d75e27180573a4e077e0245055891a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdelibs-3.5.9.tar.bz2">kdelibs-3.5.9</a></td>
   <td align="right">14MB</td>
   <td><tt>55e5f00874933d1a7ba7c95e369a205e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdemultimedia-3.5.9.tar.bz2">kdemultimedia-3.5.9</a></td>
   <td align="right">6.0MB</td>
   <td><tt>fdfafe38d2c7e3019dafc80c177add15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdenetwork-3.5.9.tar.bz2">kdenetwork-3.5.9</a></td>
   <td align="right">8.9MB</td>
   <td><tt>0ec1d4ccd550510821a622eb91b893e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdepim-3.5.9.tar.bz2">kdepim-3.5.9</a></td>
   <td align="right">13MB</td>
   <td><tt>ba27b06599556c572a26f03608471ee2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdesdk-3.5.9.tar.bz2">kdesdk-3.5.9</a></td>
   <td align="right">5.0MB</td>
   <td><tt>fd86abfe0ac7c5af61b15eb5367d0399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdetoys-3.5.9.tar.bz2">kdetoys-3.5.9</a></td>
   <td align="right">3.1MB</td>
   <td><tt>10fd55e004a582f87eed6796811bb3b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdeutils-3.5.9.tar.bz2">kdeutils-3.5.9</a></td>
   <td align="right">2.9MB</td>
   <td><tt>dbe5ddff57141f27778601df5571e182</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdevelop-3.5.1.tar.bz2">kdevelop-3.5.1</a></td>
   <td align="right">9.0MB</td>
   <td><tt>80d2216a0089fe142735d34ae8de6a0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/3.5.9/src/kdewebdev-3.5.9.tar.bz2">kdewebdev-3.5.9</a></td>
   <td align="right">5.9MB</td>
   <td><tt>e95d1fbb698ec76966abfa5bdf96bd5e</tt></td>
</tr>

</table>
