    <table border="0" cellpadding="4" cellspacing="0">
      <tr valign="top">
        <th align="left">Location</th>

        <th align="left">Size</th>

        <th align="left">MD5&nbsp;Sum</th>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/arts-1.0.5.tar.bz2">arts-1.0.5</a></td>

        <td align="right">1001KB</td>

        <td><tt>6d8292e33d51a626642ea01557e88e06</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kde-i18n-3.0.5.tar.bz2">kde-i18n-3.0.5</a></td>

        <td align="right">93MB</td>

        <td><tt>fc9d041f9c7eb23bfdb6e3ab928d8230</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kdeaddons-3.0.5.tar.bz2">kdeaddons-3.0.5</a></td>

        <td align="right">917KB</td>

        <td><tt>e1d74a758921cf44b6f60874ecea2e33</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kdeadmin-3.0.5.tar.bz2">kdeadmin-3.0.5</a></td>

        <td align="right">1.3MB</td>

        <td><tt>c6600847d833a3f64dde2e347c4368de</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kdeartwork-3.0.5.tar.bz2">kdeartwork-3.0.5</a></td>

        <td align="right">11MB</td>

        <td><tt>0c48cbd9e8c0f3b6b4b83aa738be175a</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kdebase-3.0.5.tar.bz2">kdebase-3.0.5</a></td>

        <td align="right">13MB</td>

        <td><tt>e50369b20f8955e757eeda0a521a14f5</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kdebindings-3.0.5.tar.bz2">kdebindings-3.0.5</a></td>

        <td align="right">4.9MB</td>

        <td><tt>0b2e0bd9ea6978c433997b52fb0f40a2</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kdeedu-3.0.5.tar.bz2">kdeedu-3.0.5</a></td>

        <td align="right">8.7MB</td>

        <td><tt>6357bfb0c9ebf5502db1e7f4ecf3996d</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kdegames-3.0.5.tar.bz2">kdegames-3.0.5</a></td>

        <td align="right">7.0MB</td>

        <td><tt>7abec549c8d9506f2956714ff50cfc72</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kdegraphics-3.0.5.tar.bz2">kdegraphics-3.0.5</a></td>

        <td align="right">2.6MB</td>

        <td><tt>bba2ef4cf44d355c3eb93c876f1b7faf</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kdelibs-3.0.5.tar.bz2">kdelibs-3.0.5</a></td>

        <td align="right">7.3MB</td>

        <td><tt>ff22bd58b91ac34e476c308d345421aa</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kdemultimedia-3.0.5.tar.bz2">kdemultimedia-3.0.5</a></td>

        <td align="right">5.6MB</td>

        <td><tt>07c32b5348eee503152b227b1a33342f</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kdenetwork-3.0.5.tar.bz2">kdenetwork-3.0.5</a></td>

        <td align="right">3.7MB</td>

        <td><tt>504032bceeef0dfa9ff02aed0faf795d</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kdepim-3.0.5.tar.bz2">kdepim-3.0.5</a></td>

        <td align="right">3.1MB</td>

        <td><tt>c537c56755353b386756a9a8b2c5a1f7</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kdesdk-3.0.5.tar.bz2">kdesdk-3.0.5</a></td>

        <td align="right">1.8MB</td>

        <td><tt>8bab6e6bcca189e9f7fd55d5edf82c06</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kdetoys-3.0.5.tar.bz2">kdetoys-3.0.5</a></td>

        <td align="right">1.4MB</td>

        <td><tt>3974bb197dd39fbd609405b9159e6044</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kdeutils-3.0.5.tar.bz2">kdeutils-3.0.5</a></td>

        <td align="right">1.5MB</td>

        <td><tt>104620498429632d1489f93b241436a2</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kdevelop-2.1.4_for_KDE_2.2.tar.bz2">kdevelop-2.1.4_for_KDE_2.2</a></td>

        <td align="right">3.2MB</td>

        <td><tt>c1a1ff46a88b399e9c5ec609b384c9fd</tt></td>
      </tr>

      <tr valign="top">
        <td><a href="http://download.kde.org/stable/3.0.5/src/kdevelop-2.1.4_for_KDE_3.0.tar.bz2">kdevelop-2.1.4_for_KDE_3.0</a></td>

        <td align="right">3.4MB</td>

        <td><tt>403f982ff2f9cdc8b63913e63d3323f2</tt></td>
      </tr>
    </table>
