
<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/attica-5.75.0.tar.xz">attica-5.75.0</a></td>
   <td align="right">64kB</td>
   <td><tt>40b2d99b699574460cc91ef110c615235fb24d68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/baloo-5.75.0.tar.xz">baloo-5.75.0</a></td>
   <td align="right">280kB</td>
   <td><tt>0165d476085e94af0b2ced8b486087f5d5602d67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/bluez-qt-5.75.0.tar.xz">bluez-qt-5.75.0</a></td>
   <td align="right">99kB</td>
   <td><tt>af96140e2a30d6e78fb57acb3a24ee01ef2cdb77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/breeze-icons-5.75.0.tar.xz">breeze-icons-5.75.0</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9d3843f6fb4321ee0708b8ae8eb8452df6539fd1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/extra-cmake-modules-5.75.0.tar.xz">extra-cmake-modules-5.75.0</a></td>
   <td align="right">340kB</td>
   <td><tt>dc2867f7b2386dbb967d1da20b4e5e12ca68a3f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/frameworkintegration-5.75.0.tar.xz">frameworkintegration-5.75.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>cee5b3216ba95c8007be15e06c90c1bb2307309a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kactivities-5.75.0.tar.xz">kactivities-5.75.0</a></td>
   <td align="right">70kB</td>
   <td><tt>834c058d45b01f56491ab9f9df400c9f32aab028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kactivities-stats-5.75.0.tar.xz">kactivities-stats-5.75.0</a></td>
   <td align="right">80kB</td>
   <td><tt>e2ea50e543ad023d77f04ed50f954e7e0241f034</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kapidox-5.75.0.tar.xz">kapidox-5.75.0</a></td>
   <td align="right">185kB</td>
   <td><tt>e11b99b5dab1da1b497dffe18f1eea659304dddf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/karchive-5.75.0.tar.xz">karchive-5.75.0</a></td>
   <td align="right">960kB</td>
   <td><tt>95f2835b9a083bdc896c773981f2eb3485b80345</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kauth-5.75.0.tar.xz">kauth-5.75.0</a></td>
   <td align="right">85kB</td>
   <td><tt>5aea38802e10db2385a4d647a3d5bc0da596fa03</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kbookmarks-5.75.0.tar.xz">kbookmarks-5.75.0</a></td>
   <td align="right">123kB</td>
   <td><tt>a98b7467c76ac434736e2883b62516479f0c213d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kcalendarcore-5.75.0.tar.xz">kcalendarcore-5.75.0</a></td>
   <td align="right">248kB</td>
   <td><tt>7d351d0c71eea3f361de3655501df655fc98681e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kcmutils-5.75.0.tar.xz">kcmutils-5.75.0</a></td>
   <td align="right">250kB</td>
   <td><tt>b9bcf86ff096a62721da6bd06f1707b984a718aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kcodecs-5.75.0.tar.xz">kcodecs-5.75.0</a></td>
   <td align="right">222kB</td>
   <td><tt>3d32706e4ff77e70d9d411a64159fda84d3e8ab2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kcompletion-5.75.0.tar.xz">kcompletion-5.75.0</a></td>
   <td align="right">118kB</td>
   <td><tt>c09f545da970bf072e4b3ee0caf725921d9e665c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kconfig-5.75.0.tar.xz">kconfig-5.75.0</a></td>
   <td align="right">257kB</td>
   <td><tt>1c192d13c2ae58d8eb4840b60277a738ee7a39d8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kconfigwidgets-5.75.0.tar.xz">kconfigwidgets-5.75.0</a></td>
   <td align="right">377kB</td>
   <td><tt>e09a726652f7e07629bd635a315c38801103a94d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kcontacts-5.75.0.tar.xz">kcontacts-5.75.0</a></td>
   <td align="right">530kB</td>
   <td><tt>9e69cca467473dfae4db329bf394982ebcdc6a68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kcoreaddons-5.75.0.tar.xz">kcoreaddons-5.75.0</a></td>
   <td align="right">400kB</td>
   <td><tt>71ba2115821990854720726390eb5fa19c4bcf7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kcrash-5.75.0.tar.xz">kcrash-5.75.0</a></td>
   <td align="right">21kB</td>
   <td><tt>af5e52d21412b7f315a2c7e0d1e22ddee1337453</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kdav-5.75.0.tar.xz">kdav-5.75.0</a></td>
   <td align="right">58kB</td>
   <td><tt>cede0a2f7f30b08e1f759004460f1d8e38c02fa9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kdbusaddons-5.75.0.tar.xz">kdbusaddons-5.75.0</a></td>
   <td align="right">41kB</td>
   <td><tt>f08993603fd18f82de15b894c77c52b7a1c0780f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kdeclarative-5.75.0.tar.xz">kdeclarative-5.75.0</a></td>
   <td align="right">186kB</td>
   <td><tt>28ab7db410e38ffead0f2e5f037ddc7ddbea80cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kded-5.75.0.tar.xz">kded-5.75.0</a></td>
   <td align="right">35kB</td>
   <td><tt>58a66ef90e58be2db72452602b98a8c1c52c6d75</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kdesu-5.75.0.tar.xz">kdesu-5.75.0</a></td>
   <td align="right">50kB</td>
   <td><tt>fdc8390bfad59329304a0b71d603c3d89a17753d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kdnssd-5.75.0.tar.xz">kdnssd-5.75.0</a></td>
   <td align="right">56kB</td>
   <td><tt>a8a33eec15545a747ce9ffb6184ad2722a20e333</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kdoctools-5.75.0.tar.xz">kdoctools-5.75.0</a></td>
   <td align="right">420kB</td>
   <td><tt>fba6b07818c025c513b2551f8714a6ea1dc65c56</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kemoticons-5.75.0.tar.xz">kemoticons-5.75.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>5f99299cadc0c0d286abb275da7ac3c3693aad07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kfilemetadata-5.75.0.tar.xz">kfilemetadata-5.75.0</a></td>
   <td align="right">412kB</td>
   <td><tt>511db85550d4aa1a7ac5279f0dcb8825cc97a949</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kglobalaccel-5.75.0.tar.xz">kglobalaccel-5.75.0</a></td>
   <td align="right">85kB</td>
   <td><tt>792a457e8b91d00ce1c9b1147062dfc9eacada2f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kguiaddons-5.75.0.tar.xz">kguiaddons-5.75.0</a></td>
   <td align="right">50kB</td>
   <td><tt>f519880b48d756dea35b900a67e18a1126a590b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kholidays-5.75.0.tar.xz">kholidays-5.75.0</a></td>
   <td align="right">218kB</td>
   <td><tt>7d337f25e8a5f62035d918c81e415d52a30d220b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/ki18n-5.75.0.tar.xz">ki18n-5.75.0</a></td>
   <td align="right">575kB</td>
   <td><tt>5ca2fdc48a1bf2cbb6d38f70ae3f6c8bf1663f61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kiconthemes-5.75.0.tar.xz">kiconthemes-5.75.0</a></td>
   <td align="right">216kB</td>
   <td><tt>9ba60265ba40a2f5a41641d8f9750f04a4e58203</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kidletime-5.75.0.tar.xz">kidletime-5.75.0</a></td>
   <td align="right">24kB</td>
   <td><tt>ba8053fddc1a472c8f879f5a86e7c384647a86bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kimageformats-5.75.0.tar.xz">kimageformats-5.75.0</a></td>
   <td align="right">397kB</td>
   <td><tt>605c76acb599f18b0ac208fe134c70db84e3b8b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kinit-5.75.0.tar.xz">kinit-5.75.0</a></td>
   <td align="right">118kB</td>
   <td><tt>3155be45b1989c3bdef9e062d8d4b16c8d0ceb3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kio-5.75.0.tar.xz">kio-5.75.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>28339b17fcec073b609526fcbb19f3ed5d633292</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kirigami2-5.75.0.tar.xz">kirigami2-5.75.0</a></td>
   <td align="right">278kB</td>
   <td><tt>ff8c5ced7bfee026f937810a167fa480c926f431</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kitemmodels-5.75.0.tar.xz">kitemmodels-5.75.0</a></td>
   <td align="right">393kB</td>
   <td><tt>6fba548a62b12dff0be858efcdcf445377164272</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kitemviews-5.75.0.tar.xz">kitemviews-5.75.0</a></td>
   <td align="right">73kB</td>
   <td><tt>e93484058f5cc62d8455c66113319e2770f6c6a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kjobwidgets-5.75.0.tar.xz">kjobwidgets-5.75.0</a></td>
   <td align="right">90kB</td>
   <td><tt>d1d6ba7fe08dea427be637858411d94a448aa7c0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/knewstuff-5.75.0.tar.xz">knewstuff-5.75.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>185ea1db7bbe6f397bb98dc9cad83303dc3bf566</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/knotifications-5.75.0.tar.xz">knotifications-5.75.0</a></td>
   <td align="right">118kB</td>
   <td><tt>51c0df67d3cd3f9c4a80b2310a97c117a5422619</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/knotifyconfig-5.75.0.tar.xz">knotifyconfig-5.75.0</a></td>
   <td align="right">82kB</td>
   <td><tt>5ed93ba1f68423d09ce4e3c8abc8dfde5c737bee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kpackage-5.75.0.tar.xz">kpackage-5.75.0</a></td>
   <td align="right">137kB</td>
   <td><tt>e8c4eb0df09816ac0e36f1a025912d87ebe5c151</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kparts-5.75.0.tar.xz">kparts-5.75.0</a></td>
   <td align="right">185kB</td>
   <td><tt>c9b254e7ad8a8187f7a46b2e7e5ef383bca17937</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kpeople-5.75.0.tar.xz">kpeople-5.75.0</a></td>
   <td align="right">60kB</td>
   <td><tt>8461131ef4024a705a604a6eb4e7cb297d50301d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kplotting-5.75.0.tar.xz">kplotting-5.75.0</a></td>
   <td align="right">30kB</td>
   <td><tt>66f0d2cd127c93dcd0791178dd2405fdc0dafb02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kpty-5.75.0.tar.xz">kpty-5.75.0</a></td>
   <td align="right">55kB</td>
   <td><tt>a12daa5f89fe5f267f54c84991819459e8705a28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kquickcharts-5.75.0.tar.xz">kquickcharts-5.75.0</a></td>
   <td align="right">93kB</td>
   <td><tt>1018e28a0fb00b9ec04e777b7b5374a9e67f768f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/krunner-5.75.0.tar.xz">krunner-5.75.0</a></td>
   <td align="right">68kB</td>
   <td><tt>8bd3c38aa9bd1be25d5f8560934d9ca1bdf7e2d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kservice-5.75.0.tar.xz">kservice-5.75.0</a></td>
   <td align="right">252kB</td>
   <td><tt>39f187737b8136a06e73461d3e5e38a95cae3f86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/ktexteditor-5.75.0.tar.xz">ktexteditor-5.75.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>669088a1f305a34e75e057c1353112386037fa0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/ktextwidgets-5.75.0.tar.xz">ktextwidgets-5.75.0</a></td>
   <td align="right">316kB</td>
   <td><tt>5072bbbbe86e93d92f41d1904f7f278a9bb149d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kunitconversion-5.75.0.tar.xz">kunitconversion-5.75.0</a></td>
   <td align="right">835kB</td>
   <td><tt>dc71f890a0c97a5b86267a5e3f35f459f74c28b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kwallet-5.75.0.tar.xz">kwallet-5.75.0</a></td>
   <td align="right">292kB</td>
   <td><tt>bddb64e21b7c60ad2b877835c603b5e32aa357bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kwayland-5.75.0.tar.xz">kwayland-5.75.0</a></td>
   <td align="right">336kB</td>
   <td><tt>a0fcc3dba2b783cba3f1ac8bc37317c112c2d972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kwidgetsaddons-5.75.0.tar.xz">kwidgetsaddons-5.75.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>c266298623ef28add3d7401b2d66f9ddc47945e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kwindowsystem-5.75.0.tar.xz">kwindowsystem-5.75.0</a></td>
   <td align="right">172kB</td>
   <td><tt>c6b167efb5fc398aa68c3f6e0aae8f9dd6befc00</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/kxmlgui-5.75.0.tar.xz">kxmlgui-5.75.0</a></td>
   <td align="right">843kB</td>
   <td><tt>3be95e11d70d1948a181b6ec41d463447485afbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/modemmanager-qt-5.75.0.tar.xz">modemmanager-qt-5.75.0</a></td>
   <td align="right">109kB</td>
   <td><tt>770d81db0ac84f5a7dadc0b91c27fad75551a02a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/networkmanager-qt-5.75.0.tar.xz">networkmanager-qt-5.75.0</a></td>
   <td align="right">190kB</td>
   <td><tt>ad9c16b3bb764d1a6e0a6754a656d8f424e3dc99</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/oxygen-icons5-5.75.0.tar.xz">oxygen-icons5-5.75.0</a></td>
   <td align="right">225MB</td>
   <td><tt>acddc503ad06e6178b80529d6c96f3d8c835374b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/plasma-framework-5.75.0.tar.xz">plasma-framework-5.75.0</a></td>
   <td align="right">3.0MB</td>
   <td><tt>6598d194bc5cafcdf71f463beaa0e4cf6ed51c48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/prison-5.75.0.tar.xz">prison-5.75.0</a></td>
   <td align="right">39kB</td>
   <td><tt>fd874ca149cbe57c89aa603da5bdad0d06a100b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/purpose-5.75.0.tar.xz">purpose-5.75.0</a></td>
   <td align="right">152kB</td>
   <td><tt>e7aff25c07d43954a9e46bf7b6b901e28e396406</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/qqc2-desktop-style-5.75.0.tar.xz">qqc2-desktop-style-5.75.0</a></td>
   <td align="right">57kB</td>
   <td><tt>86d7e8e6c1a5f6cbc1235ed62f140926f0407197</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/solid-5.75.0.tar.xz">solid-5.75.0</a></td>
   <td align="right">262kB</td>
   <td><tt>8c9b5831487e2a8641a33edd317d583284666443</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/sonnet-5.75.0.tar.xz">sonnet-5.75.0</a></td>
   <td align="right">287kB</td>
   <td><tt>f2b21d1cd2c2f012ed365efe0ff5b17813794961</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/syndication-5.75.0.tar.xz">syndication-5.75.0</a></td>
   <td align="right">496kB</td>
   <td><tt>27ad2adff9a910c8b2d5918907a42d46c0ffa6ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/syntax-highlighting-5.75.0.tar.xz">syntax-highlighting-5.75.0</a></td>
   <td align="right">1.9MB</td>
   <td><tt>680e86ef036bb944efd7d0b325af8487d212f5fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.75/threadweaver-5.75.0.tar.xz">threadweaver-5.75.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>920f9feca222fb3741b5239a94e159ae94a029c1</tt></td>
</tr>

</table>
