<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/bluedevil-5.14.1.tar.xz">bluedevil-5.14.1</a></td>
   <td align="right">154kB</td>
   <td><tt>44eacaf20c8a96fad3b32ea39e0ae484f0c0eebe8c07459be01d10b0571e91a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/breeze-5.14.1.tar.xz">breeze-5.14.1</a></td>
   <td align="right">23MB</td>
   <td><tt>c90016fa88048e3bac4dc9917124ed5dcfc71e34bdaa78354eb96c7aa52754f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/breeze-grub-5.14.1.tar.xz">breeze-grub-5.14.1</a></td>
   <td align="right">3.0MB</td>
   <td><tt>492c8c12c6eeeeb978416bdd42870225be6206080ebe3e8f86c5d15ede9dfba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/breeze-gtk-5.14.1.tar.xz">breeze-gtk-5.14.1</a></td>
   <td align="right">197kB</td>
   <td><tt>eb2f2c5d64969762515a81ed899b8a5e0ba15b01f61455f6bf6b1f15fd6613f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/breeze-plymouth-5.14.1.tar.xz">breeze-plymouth-5.14.1</a></td>
   <td align="right">102kB</td>
   <td><tt>b5fa5f4840f6a19d9b292f248ab5e71cfdcb8c6f54ad2f308a141906d427a451</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/discover-5.14.1.tar.xz">discover-5.14.1</a></td>
   <td align="right">9.7MB</td>
   <td><tt>90482e69a4ff28450b2c6e1db834d839850efad3721d031c93983b134867be50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/drkonqi-5.14.1.tar.xz">drkonqi-5.14.1</a></td>
   <td align="right">720kB</td>
   <td><tt>043fee97a2fa2a2e05f6edf02e3a775d0f44d507092395dfc70deba33a200d5f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/kactivitymanagerd-5.14.1.tar.xz">kactivitymanagerd-5.14.1</a></td>
   <td align="right">83kB</td>
   <td><tt>f7e170cc3eb878c8839631e061f6df2827022f9f67a716f118e39df9f3816f41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/kde-cli-tools-5.14.1.tar.xz">kde-cli-tools-5.14.1</a></td>
   <td align="right">571kB</td>
   <td><tt>d38189be02cd6cb76c61df1bca71871bf28b3bd411cc974c1ca3917316cad629</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/kde-gtk-config-5.14.1.tar.xz">kde-gtk-config-5.14.1</a></td>
   <td align="right">153kB</td>
   <td><tt>faacb7f504a6ccc546da83d1ad548ebbef5c6440d80a7c97a014336b56bb8f83</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/kdecoration-5.14.1.tar.xz">kdecoration-5.14.1</a></td>
   <td align="right">41kB</td>
   <td><tt>a1a892b171080de5e18f607d8ac697a545d544f1be13ac6210f558df46cb2db5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/kdeplasma-addons-5.14.1.tar.xz">kdeplasma-addons-5.14.1</a></td>
   <td align="right">588kB</td>
   <td><tt>79e6d71d100cbe755111817e7c989dc272e98f867e0a4c994aa2d0a19dcbfa45</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/kgamma5-5.14.1.tar.xz">kgamma5-5.14.1</a></td>
   <td align="right">77kB</td>
   <td><tt>0085732017dad39afddbe303c7e30fc971f6abb281e3bfa90b33411b7f7fb68b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/khotkeys-5.14.1.tar.xz">khotkeys-5.14.1</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2792a0b4ef1d5b5c0dfd37314542148498b03216b030d732c6bc21a1b4795b53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/kinfocenter-5.14.1.tar.xz">kinfocenter-5.14.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>b79ae50383b080326868f5db43d2452cef1162bf0506354c84af770ad7a5fad9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/kmenuedit-5.14.1.tar.xz">kmenuedit-5.14.1</a></td>
   <td align="right">753kB</td>
   <td><tt>a44578902486274dc6cc77466d076e33e50b7d992fa3a64c9126cc4dea482c38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/kscreen-5.14.1.tar.xz">kscreen-5.14.1</a></td>
   <td align="right">119kB</td>
   <td><tt>2493ab4caa351353663d96f8b0d5e9d6e1062130082288b67d706a54f623e6bb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/kscreenlocker-5.14.1.tar.xz">kscreenlocker-5.14.1</a></td>
   <td align="right">119kB</td>
   <td><tt>f0449fb9d336eb5ca5102d4493cf3639328a27e81b6ba516afc10ccb52ad7d64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/ksshaskpass-5.14.1.tar.xz">ksshaskpass-5.14.1</a></td>
   <td align="right">20kB</td>
   <td><tt>acf0a8237fc63d1a45bf4bb939fb505a271dd365ee3aa9cd9702cf0a06fa06d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/ksysguard-5.14.1.tar.xz">ksysguard-5.14.1</a></td>
   <td align="right">489kB</td>
   <td><tt>fceda3668150d7a1a548c3eaaeb8d4fb5abf293b7a268c681d67fe799bb519cc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/kwallet-pam-5.14.1.tar.xz">kwallet-pam-5.14.1</a></td>
   <td align="right">18kB</td>
   <td><tt>dee3c84ca16fbd4e1d830fd654839ada8fdfe8e980fa85d7e173aa26173130bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/kwayland-integration-5.14.1.tar.xz">kwayland-integration-5.14.1</a></td>
   <td align="right">18kB</td>
   <td><tt>47a7a0576260774c4c4321037f7b26bb0e74f47d4e500e5aad90760ee1fd3ae7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/kwin-5.14.1.tar.xz">kwin-5.14.1</a></td>
   <td align="right">6.2MB</td>
   <td><tt>9fd29a8b3dd7aa48f99c58c0cd1d25deda8e47a09192c815b760fc179328bbb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/kwrited-5.14.1.tar.xz">kwrited-5.14.1</a></td>
   <td align="right">19kB</td>
   <td><tt>0c23e8af564146fec50c797f9fcddc3199fbd076158fd0d1906b7dfc4a9c5a2c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/libkscreen-5.14.1.tar.xz">libkscreen-5.14.1</a></td>
   <td align="right">78kB</td>
   <td><tt>63b3cb6da4731a9cd320b1ab1704b5f136cf9bd837f028ebad3b83d87afb16f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/libksysguard-5.14.1.tar.xz">libksysguard-5.14.1</a></td>
   <td align="right">562kB</td>
   <td><tt>1c47b543c4c40d78e13928aac0a8d2928554bf0b0510a8c7ebbe5c6c1799f615</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/milou-5.14.1.tar.xz">milou-5.14.1</a></td>
   <td align="right">56kB</td>
   <td><tt>19c155e5d0778c33a987f503ca4f9303b2038728405d6d033d475cc2b99c26f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/oxygen-5.14.1.tar.xz">oxygen-5.14.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>491f8c464583f2aa15b5a887d02c9b0023c9b57a1a8ea371914654c87073ee63</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/plasma-browser-integration-5.14.1.tar.xz">plasma-browser-integration-5.14.1</a></td>
   <td align="right">106kB</td>
   <td><tt>b7da56b9fcca4152f18bf26fdc5cef2ce2a7470bc532485a61407a72ea820583</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/plasma-desktop-5.14.1.tar.xz">plasma-desktop-5.14.1</a></td>
   <td align="right">8.7MB</td>
   <td><tt>fbb4237caf110e001f8957b9ba0ca437b5cd97b245879fea7eb33374adce7c1f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/plasma-integration-5.14.1.tar.xz">plasma-integration-5.14.1</a></td>
   <td align="right">52kB</td>
   <td><tt>380e124294a8dee09a20545d0b3b19c59773cfe48e798abe54880edc4b4eb149</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/plasma-nm-5.14.1.tar.xz">plasma-nm-5.14.1</a></td>
   <td align="right">702kB</td>
   <td><tt>32cfd68b9c22d1b2a2aaa37fe3103b2c6c4c85376f3e12c7b622f6db22efc929</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/plasma-pa-5.14.1.tar.xz">plasma-pa-5.14.1</a></td>
   <td align="right">92kB</td>
   <td><tt>d83776d1a7da2c82e3bab20994a73713af1169f956f2da3583b962bdd82446b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/plasma-sdk-5.14.1.tar.xz">plasma-sdk-5.14.1</a></td>
   <td align="right">244kB</td>
   <td><tt>3aff3886c77ccbd60da310397bf8f6157e422baa5a7b46bcbb1e3e501c3fdacf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/plasma-tests-5.14.1.tar.xz">plasma-tests-5.14.1</a></td>
   <td align="right">1kB</td>
   <td><tt>6be05979206e3f07c0b787bcff3a14a8b037c01aeb6c436c837ce528d2541223</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/plasma-vault-5.14.1.tar.xz">plasma-vault-5.14.1</a></td>
   <td align="right">117kB</td>
   <td><tt>0aa5115501a37fcad9fcaac1de4fbb75822c5773d87619d8427da4c3b8cd23dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/plasma-workspace-5.14.1.tar.xz">plasma-workspace-5.14.1</a></td>
   <td align="right">4.3MB</td>
   <td><tt>4ed6648dbb21fb563f7e8e95727155a415b4502503d38037af04bc98723579f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/plasma-workspace-wallpapers-5.14.1.tar.xz">plasma-workspace-wallpapers-5.14.1</a></td>
   <td align="right">43MB</td>
   <td><tt>8cb336a5320a0eed8d364fb9f3ce836dfcd3b766c2f4d6cdb21b7ab61090b7cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/plymouth-kcm-5.14.1.tar.xz">plymouth-kcm-5.14.1</a></td>
   <td align="right">38kB</td>
   <td><tt>c7a399b1f20f0cc481930fed268e95757ec57144931c58f873062442c7f2cf77</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/polkit-kde-agent-1-5.14.1.tar.xz">polkit-kde-agent-1-5.14.1</a></td>
   <td align="right">41kB</td>
   <td><tt>14c7501a67d0c0772f1c54eb9a68fb35dcae5da7ad850784e2cd0e9dd21a6a3d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/powerdevil-5.14.1.tar.xz">powerdevil-5.14.1</a></td>
   <td align="right">585kB</td>
   <td><tt>acd9926af9820fa5e8bd797a75e4701c1ea7f8ae9c623eee89e005b322e91b3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/sddm-kcm-5.14.1.tar.xz">sddm-kcm-5.14.1</a></td>
   <td align="right">59kB</td>
   <td><tt>a2b9a10d95e856e1acf0259a41facb815a20934d8074df096d68fe62dac78e16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/systemsettings-5.14.1.tar.xz">systemsettings-5.14.1</a></td>
   <td align="right">175kB</td>
   <td><tt>c921b7b11be7c46cbd641aea00e2c626164727477543b819c09b0cef984335a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/user-manager-5.14.1.tar.xz">user-manager-5.14.1</a></td>
   <td align="right">533kB</td>
   <td><tt>9a1440de77a6829790c7433e2d5ad3846e4a5e55d9dd5d5f290e8af9c97e4a4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.14.1/xdg-desktop-portal-kde-5.14.1.tar.xz">xdg-desktop-portal-kde-5.14.1</a></td>
   <td align="right">50kB</td>
   <td><tt>af49a4831672fd56066955711bca2dbc245ac7852a7a88ee8137c786ddfe5a33</tt></td>
</tr>

</table>
