<div class="box"> <picture class="img-fluid"> {{ $basename := substr (.Get "src") 0 -4 }} {{ if (fileExists (printf "%s-dark.png" $basename)) }} <source srcset="{{ printf "%s-dark.png" $basename }}" media="(prefers-color-scheme: dark)"> {{ end }} <img src="{{ .Get "src" }}" class="img-fluid" alt="{{ .Get "alt" }}" loading="lazy" /> </picture> </div>
